<link rel="stylesheet" href="./css/createcharbluep.css">
<div id="page-body">
    <div id="nsl-div" class="page">
        <h2 class="title">Choose a Name and Starting Level</h2>
        <h3>Blueprint Name</h3>
        <p>This is different than a character name, you will choose a character name when you port this blueprint into a campaign. The blueprint name is so that you can identify this blueprint.</p>
        <input id="char-name-in" type="text">
        <h3>Starting Level</h3>
        <input id="start-lvl-in" type="number" value="1">
    </div>
    <div id="race-div" class="page">
        <h2 class="title">Choose a Race</h2>
        <h3>Race</h3>
        <input id="race-in" type="text">
        <h4>Subrace</h4>
        <input id="subrace-in" type="text">
        <h4>Ability Score Increase</h4>
        <div id="aaasi-div">
        </div>
        <button id="aaasi-btn">Add Ability Score Increase</button>
        <h4>Race Features</h4>
        <div id="rf-div">
        </div>
        <button id="arf-btn">Add Feature</button>
    </div>
    <div id="class-div" class="page">
        <h2 class="title">Choose a Class</h2>
        <h3>Class</h3>
        <input id="class-in" type="text">
        <h4>Class Features</h4>
        <button>Add Feature</button>
    </div>
    <div id="as-div" class="page">
        <h2 class="title">Assign Your Ability Scores</h2>
        <h3>Ability Scores</h3>
        <button>Roll</button>
        <input id="as-str" type="text">
        <input id="as-dex" type="text">
        <input id="as-con" type="text">
        <input id="as-int" type="text">
        <input id="as-wis" type="text">
        <input id="as-cha" type="text">
    </div>
    <div id="desc-div" class="page">
        <h2 class="title">Describe Your Character</h2>
        <h3>Character Description</h3>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div id="equip-div" class="page">
        <h2 class="title">Choose Your Starting Equipment</h2>
        <h3>Choose Equipment</h3>
        <button>Add Equipment</button>
    </div>
    <div id="review-div" class="page">
        <h2>review</h2>
    </div>
    <div>
        <button id="back-btn" class="nav-btn">&lt; Back</button>
        <button id="next-btn" class="nav-btn">Next ></button>
    </div>
</div>
<button id="cancel-btn">Cancel</button>
<script src="./js/createcharbluep.js"></script>