#everything{
    display: flex;
    background-image: linear-gradient(45deg, rgb(185, 34, 223), rgb(79, 27, 202));
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#whitespace{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    min-width: 500px;
    position: relative;
    height: 90vh;
    width: 90vw;
    background: white;
    border-radius: 40px;
    padding: 0;
}

#form{
    flex-grow: 8;
    max-height: 100%;
    margin: 0 10px 0 33px;
    overflow:scroll;
}

#starting-equipment{
    background-image: linear-gradient(45deg, rgb(185, 34, 223), rgb(79, 27, 202));
    border-radius: 40px;
    color: white;
    flex-grow: 2;
    padding: 20px;
    margin:10px;
    /* max-height: 25vh;
    position: absolute;
    bottom: 24px;
    width: 92.3%; */
}

#starting-equipment-uls{
    /* max-height:20vh;
    overflow: scroll;
    border: solid black;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 10px; */
}

#custom-race{
    /*
    max-height: 30vh;
    overflow:scroll;
    border: black solid;
    border-radius: 20px;
    padding: 10px;
    */
}
.bold{
    font-weight:bold;
}

.spacing{
    height:15px;
}

#dragonborn-type-label{
    margin-right: 5px;
}