#page-body {
    background-image: linear-gradient(135deg, rgb(114, 197, 99), rgb(66, 122, 40));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page {
    padding: 20px;
    display: none;
    background: white;
    border-radius: 30px;
    height: 70vh;
    width: 40vw;
    text-align: center;
    overflow: scroll;
}

#cancel-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    border: white solid;
    border-radius: 10px;
    background: none;
    color: rgb(255, 255, 255);
    transition: all .2s ease-in-out;
}

#cancel-btn:hover {
    transform: scale(1.1);
}

#nsl-div {
    display: inline;
}

.title {
    background-image: linear-gradient(135deg, rgb(114, 197, 99), rgb(66, 122, 40));
    padding: 5px;
    border-radius: 20px;
    color: white;
}

.nav-btn {
    background-image: linear-gradient(135deg, rgb(114, 197, 99), rgb(66, 122, 40));
    border: none;
    position: relative;
    bottom: 150%;
    z-index: 2;
    color: white;
    padding: 3px 20px;
    border-radius: 15px;
    margin: 0 150px;
}

#aaasi-btn {
    display: block;
    background:none;
    border: none;
    margin: 3px auto;
}

#aaasi-btn:hover {
    color:rgb(66, 122, 40);
}

#aaasi-div {
    display: flex;
    flex-direction: column;
}

.remove-btn {
    background: none;
    border: none;
}

.remove-btn:hover {
    color: rgb(151, 22, 22);
}

#arf-btn {
    background: none;
    border: none;
}

#arf-btn:hover {
    color: green;
}

.newrf-div {
    margin: 10px 0 30px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.rfname-input {
    display: block;
}

#acf-btn {
    background: none;
    border: none;
}

#acf-btn:hover {
    color: green;
}

.newcf-div {
    margin: 10px 0 30px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.cfname-input {
    display: block;
}

#profs-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aprof-btn {
    background: none;
    border: none;
}

#aprof-btn:hover {
    color: green;
}

#skill-prof-table-div {
    display: flex;
    justify-content: center;
}

#skill-prof-table {
    text-align: left;
}

#as-roll-btn {
    background-image: linear-gradient(135deg, rgb(114, 197, 99), rgb(66, 122, 40));
    color: white;
    border: none;
    border-radius: 15px;
    width: 50px;
    margin-bottom: 20px;
}

#st-table-div {
    display: flex;
    justify-content: center;
}

#st-table {
    text-align: right;
}